<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>exception 핸들러</h1>

    <h2>local Exception Handler</h2>
    <button onclick="location.href='controller-null'">Null point Exception Test</button>

    <h2>MemberRegistException 처리</h2>
    <button onclick="location.href='controller-user'">
         Member Regist Exception
    </button>

    <h2>global Exception Handler</h2>
    <a href="other-controller-null">global null pointer</a>
    <a href="other-controller-user">global custom exception</a>
    <a href="other-controller-array">global exception</a>
</body>
</html>